.barra{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    width: 100% ;
    border: none;
    border-radius: 10%;
}

.barra svg{
    font-size: 1.5em;
    color: white;
}

.form input{
    outline: none;
}

