.tableContainer{

  display: flex;
  justify-content: center;
}

.table{
  margin: 0;
  text-align: center;
  max-width: 1200px;
--bs-table-striped-bg:  rgba(144, 202, 252, 0);
--bs-table-hover-bg:rgba(121, 190, 255, 0.069);
  vertical-align: center;
  border-radius: 4px;

}

.cabecalho, .trCabecalho{
  background-color: #033579;
  color: aliceblue;
  border-radius: 4px;

}

.descricao {
  max-width: 100px; /* largura máxima da célula */
  overflow: hidden; /* esconder o conteúdo que excede o tamanho da célula */
  text-overflow: ellipsis; /* adicionar "..." quando o conteúdo é cortado */
  white-space: nowrap; /* impedir quebra de linha */
}

.imagemTabela {
  max-width: 100px;
  max-height: 100px; /* largura máxima da célula */
  overflow: hidden; /* esconder o conteúdo que excede o tamanho da célula */
  text-overflow: ellipsis; /* adicionar "..." quando o conteúdo é cortado */
  white-space: nowrap;
  text-align: left; /* impedir quebra de linha */
}


.descricao::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

th{
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px;
  font-size: 0.9em;

}


tr:nth-child(even){
    background-color:  rgb(213, 235, 255); 
    color: #146b97; 
    border-radius: 4px;
}



tr{
  border-radius: 4px;
  border-collapse: collapse;
  background-color: rgba(144, 202, 252, 0.706);
  color: #146b97; 
}

td{
  border-radius: 4px;
  color: #146b97; 
  font-size: 0.9em;
}


