/* Estilos padrão da NavBar */

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #033579;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);
  padding: 1.5% 3%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.container{
  margin: 0 18%;
}

.userMenuWrapper {
  position: relative;
  background-color: #033579;
  width: 25%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.menuUsuario {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background-color: #033579;
  width: 100%;
  font-size: 1em ;
  list-style: none;
  text-align: justify;
  color: aliceblue;
}

.menuUsuarioLista {
  padding: 15px 0 15px 15px;
  font-weight: 300;
}

.userButton {
  background-color: #033579;
  border: none;
  font-size: 1em ;
  margin: 0 5px;
}

.navbarContainerLogo {
  margin-left: 15%;
}

.navbarContainerCompra {
  margin: 0;

}

.navbarLogo {
  height: 100%;
}

.navbarInput {
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-left: 2em;
}

.navbarSpan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 2.5em;
  background-color: #555;
  color: #fff;
  border-radius: 50%;
  margin-left: 2em;
  cursor: pointer;
}

/* Estilos responsivos para a NavBar */


@media only screen and (min-width: 320px) and (max-width: 576px) {
  .navbar {
    flex-direction: column;
    padding: 5%;
  }

  .navbarContainerLogo,
  .navbarContainerCompra {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .navbarLogo {
    margin-bottom: 1em;
    width: 40%;
  }

  .navbarInput {
    margin: 1em 0;
  }
}


@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbarContainerLogo,
  .navbarContainerCompra {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .navbarLogo {
    width: 20%;
  }

  .navbarInput {
    margin: 1em 0;
  }

  .userMenuWrapper {
    width: 100%;
  }
}


@media only screen and (min-width: 769px) and (max-width: 992px) {
  .navbar {
    padding: 1% 2%;
  }

  .navbarContainerLogo,
  .navbarContainerCompra {
padding: 0;
    width: 30%;
    text-align: center;
  }

  

.navbarLogo {
  height: 100%;
}

  .navbarInput {
    margin: 0.5em 0;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .navbar {
    padding: 1% 2%;
  }

  .navbarContainerLogo,
  .navbarContainerCompra {
    margin: 0;
    width: 25%;
    text-align: center;
  }

  .navbarLogo {
    margin: 0.5em;
    height: 2em;
  }

  .navbarInput {
    margin: 0.5em 0;
  }
}


@media only screen and (min-width: 1201px) and (max-width: 1440px) {
  .navbar {
    padding: 1% 2%;
  }

  .navbarContainerLogo,
  .navbarContainerCompra {
    margin: 0 5%;
    width: 15%;
    text-align: center;
    padding: 0;
  }

  .navbarLogo {
    height: 50px;
  }

  .navbarInput {
    margin: 0.5em 0;
  }
}

@media only screen and (min-width: 1441px) {
  .navbar {
    padding: 1% 2%;
  }

  .navbarContainerLogo,
  .navbarContainerCompra {
    margin: 0;
    width: 15%;
    text-align: center;
  }

  .navbarLogo {
    height: 100%;
  }
  .navbarInput {
    margin: 0.5em 0;
  }
}


