.searchFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45vh;
    margin-top: 0.5vh;
  }
  
  .searchForm{
    height: 3.2vh;
    width: 100%;
    max-width: 45vh;
    background:white;
    border-radius: 7px;
    display: flex;
    align-items: center;
  }
  
  .searchFormInput{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 5px;
    color: #015a80;
    font-size: 16px;
    border-radius: 0 0 0 5px;
  }
  
  .searchFormButton{
    border: none;
    outline: none;
    background-color: white;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .searchFormButton svg{
    font-size: 2vh;
    color: grey;
    margin-right: 5px;
  }


  @media only screen and (min-width: 320px) and (max-width: 768px) {
    .searchFormContainer {
      width: 60%;
      margin-top: 10px;
    }
  
    .searchForm {
      max-width: 100%;
    }
  }
