
.containerCard, .containerCardAdm{
  display: inline-block;   
  justify-content: center;
  text-decoration: none;  

}


  
.card,.cardAdm{
  border-radius: 12px;
  box-shadow: 5px 5px 15px 5px rgba(1, 23, 61, 0.22);
  padding: 30px;
  transition: all 0,3s ease-out;
  background: whitesmoke;
  width: 200PX;
  text-align: center; 
  text-align: center;

}

.containerCardAdm{
 max-height: 370px;
 margin: 20px;

}

.cardAdm {
  display: flex;
  flex-direction: column;

}

.card, .cardAdm:hover{
  transform: translateY(-5px);
  cursor: pointer;
}

.cardImageLivro {
  width: 100%;
  max-height: 200px;
}

.cardTitulo, .cardTituloAdm{
  height: 7vh;
  text-align: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.cardPreco{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.cardPrecoRegular{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

  
.h2TituloCard, .h2TituloCardAdm{
  font-size: 1rem;
  width: 100%;
  color:  #033579;
  margin: 0;
}


.cardOferta h2, .cardRegular h2{
  margin: 0;
}

.tituloTipoLivro{
  margin-top: 10px;
  font-size:1rem;
  color: #146b97;
}


.precoAntigo{
  text-decoration: line-through;
  color: brown;
  text-align: left;
  margin: 0;
  height: 1.5em;
  font-size: 14px;
  font-weight: 600;

}

.precoOferta, .precoRegular{
  color: #146b97; 
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}
.containerButtonAdm{
 display: flex;
 justify-content: space-around;
 margin-top: 0.3em;

}
.buttonCardAdm{
  width: 4em;
}

.buttonCardAdm{
  color: #146b97; 
  font-size: 14px;
  font-weight: bold;
  height: 2em;
  width: 4.5em;
  background:rgb(205, 231, 255);
  margin: 5px 0 5px 0;
  border: none;
  border-radius: 7px;

}

.buttonCardAdm:hover{
  background-color: #033579;
  color: white;
}
  