

  .container {
      /* position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.811);
      display: flex; */
      justify-content: center;
      align-items: center;
      z-index: 1;
      /* background: whitesmoke; */
      margin-top: 13vh ;
      text-shadow: 5px 5px 15px rgba(1, 23, 61, 0.22);
    }
    
    .linhaHorizontal {
      width: 100%;
      border: 0.05px outset rgba(144, 202, 252, 0.26);
      margin-top: 1em;
      margin-bottom: 1.5em;
  }
  
    
  .gridContainer {
    display: grid;
    grid-template-columns: 20em 35em 20em;
    grid-template-rows: 27em;
    gap: 1em;
    color: #146b97;  
  }

  .gridItemLong {
    font-size: 30px;
    text-align: center;
    color: #146b97;  
    max-height: 700px;
    overflow: auto;
  }

    .containerInfoLivro {
    max-height: 700px;
    overflow: auto;
    justify-content: center;
    align-items: center;
  }


  .imagemLivro{
    border-radius: 10px;
    box-shadow: 5px 5px 15px 5px rgba(1, 23, 61, 0.22);
  }

  .titulo{
    font-weight: bold;
    color: #146b97;
    font-size: 25px;
    margin: 0;

  }

  .autor{
    text-align: left;
    font-size: 16px;    
    color: #146b97;
  }

  .editora{
    text-align: left;
    font-size: 14px;
    font-weight: bold;
  }

.tipoLivroDetalhe{
  display: flex;
  justify-content: space-around;
}
  
 .buttonTipoLivroFisico, .buttonTipoLivroEbook{
    color: #146b97; 
    font-size: 14px;
    font-weight: bold;
    height: 4em;
    width: 15em;
    background:rgb(205, 231, 255);
    margin: 5px 0 5px 0;

  }


/*   
  .buttonTipoLivroFisico:hover, .buttonTipoLivroEbook:hover{
    cursor: pointer;
    background:rgba(192, 225, 255, 0.448);
    text-decoration: none;
    color: #146b97bd; 
  } */

  .buttonTipoLivroFisico:focus, .buttonTipoLivroEbook:focus{
    background-color: #033579;
    color: white;
  }
  
  

      
  .linhaHorizontalDetalhe {
    width: 100%;
    border: 0.05px outset rgba(144, 202, 252, 0.26);
    margin-top: 0.2em;
    margin-bottom: 0.22em;
}

  .sinopse{
    text-align: justify;
    font-size: 14px;

  }

  .divComprarLivros{
    background:rgb(243, 249, 255);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 2px 2px 12px 2px rgba(1, 23, 61, 0.22);
  }



  .compra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ulCompraInfo, .ulCompraInfoEntrega, .ulCompraInfoTipo{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    flex-wrap: nowrap;
    font-size: 15px;
    color: #033579;
    margin-bottom: 0;
    list-style-type: none;

  }
 
  .ulCompraInfoEntrega{
    margin-top: 20px; 
  }
  
  .ulCompraInfoTipo{
    font-weight: 800; 
    color: #146b97; 

  }

  .liCompraInfoTit, .ulCompraInfoTipo{
    font-weight: 800; 
    margin-bottom: 15px;  

  }

  .liEntrega {
    font-weight: 700; 
    color: #4dbaf0;
 
  }

  .estoque{
    font-weight: 800; 
    font-size: 18px;
    color: #21bbf3;
  }


.buttonCompra{
    width: 100%;
    height: 2.3em;
    border-radius: 10px;
    background: #033579;
    border: none;
    margin-top: 15px;   
    cursor: pointer;
  }

  .h1AdicionarSacola{
    font-size: 12px;
    text-align: center;  
    font-weight: bold;
    margin: 0;
    color: #ffff;
  }

  
  .h2AdicionarSacola{
    color: #033479d4; 
   text-align: center;  
    font-weight: bold;
  }

  .buttonFecharModal{
    background:#033479d4;
    border-radius: 50%;
    width: 2em;
    height: 1.7em;
  }

  .buttonCompra:hover{
    background: #033479d4;
  }






  .precoAntigo{
    text-decoration: line-through;
    color: brown;
    text-align: left;
    margin: 0;
    height: 2em;
    font-size: 20px;
  }
  
  .precoOferta, .precoRegular{
    color: #146b97; 
    margin: 0;
  }
    
 
  .qtde {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #146b97;
    font-weight: 700;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    
  }


  .buttonQtde{
    border: none;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    color: #146b97;
  }

  .buttonQtde:hover{
    cursor: pointer;
    background-color: #d2d2d2d8;
    text-decoration: none;
    color: rgb(255, 255, 255)
  }

  .spanQtde {
    max-width: 3rem; 
    padding: 0.1rem 0.9rem; 
    background-color: rgb(242, 244, 246);
    border-radius: 5px; 
    color: #146b97; 
    font-size: 15px;
  }

  .close{
    color: #146b97; 
    cursor: pointer;
  }





  .ficha{
    border: solid 1px rgb(205, 231, 255);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 20px 1px rgba(1, 23, 61, 0.042);

  }

  .ficha1, .ficha2 {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    flex-wrap: nowrap;
    font-size: 17px;
    color: #146b97;
    border-radius: 10px;
    margin-bottom: 0;
    list-style-type: none;
  }

  .ficha1{
    background:rgba(192, 225, 255, 0.448);
  }

    .ficha2{
    background:rgb(192, 225, 255);
  }

  .fichaH1, .voltarHome{
        text-align: left;
        font-size: 1.3em;
        margin-left: 0.2em;
        margin-bottom: 0.4em;
        color: #146b97;
  }

  .voltarHome{
    font-size: 1em;

  }


  .fichaTh{
    font-weight: bold;
  }

  span{
    margin: 15px;

  }

