*{
  scroll-behavior: smooth;
  text-decoration: none;
}


a:link {text-decoration: none;}

.voltarHome{
  color: #146b97; 
  cursor: pointer;
  margin-top: 12vh;
  margin-left: 0.5vh;
  font-size: 1em;
}

.linhaHorizontal {
  width: 100%;
  border: 0.05px outset rgba(144, 202, 252, 0.26);
  margin-top: 2em;
}



.formContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border-color: #146b97;
  margin: 50px auto;
  padding: 20px;
  color: #146b97;
  background:rgb(199, 229, 255);
  width: 100vh;

}

.formContactLabel{
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: bold;
  border-color: #146b97;

}

.formContactInput, .formContactTextArea {
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #146b97;
  margin-bottom: 0.8rem;
  font-size: inherit;
  color: #033579;
  background: aliceblue;
}


.formContactInput:focus::-webkit-input-placeholder {
  color: transparent;
  }

.formContactInput:focus:-moz-placeholder { /* Firefox 18- */
    color: transparent;  
    }
    
.formContactInput:focus::-moz-placeholder {  /* Firefox 19+ */
    color: transparent;  
    }
    
.formContactInput:focus:-ms-input-placeholder {  
    color: transparent;  
    }
    

.formContactButton {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #033579;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 30%;
  text-align: center;
  font-weight: bold;
}


.formContactButton:hover{
  color: #fbf4f4;
  background-color: rgb(144, 202, 252);
}

