
.modalBackgroundEdit{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    
}

.divContainerEdit{
    width: 50%;
    position: flex;
    width: 40%;
    height:93%;
    justify-content: center;
    align-items: center; 
    background-color:rgb(189, 223, 253);
    text-shadow: 5px 5px 15px rgba(1, 23, 61, 0.22);
    border-radius: 15px;
    font-size: 1em;
    text-align: left;
    z-index: 999;
}

.buttonContainerEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    gap: 30px;
} 

button {
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    background-color: #033579;
    width: 13%;
    font-size: 0.8em;
    white-space: nowrap;
    overflow: hidden;
  }


.formModalEdit{
    display: flex;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    font-weight: bold;
    justify-content: center;
    align-items: center; /* Adicionado para centralizar o formulário verticalmente */
  }

  .inputModalEdit{
    margin: 0.2em 0 0 0;
    width: 80%;
    height: 2em;
    padding: 1px;
    padding-left: 10px;
    border: none;
    border-radius: 7px;
    box-sizing: border-box;
    color: #033579;
    background: aliceblue;
  }

  .inputModalEdit:focus {
    outline: none;
  }

  .formModalEdit .labelModal{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 10px;
    text-align: left;
    color: #146b97; 
    align-items: left;
    font-size: 0.8em;
  }
  